.winningCard {
	animation: rotate 0.7s ease-in-out both;
}

@keyframes rotate {
	0% {
		transform: rotateX(0deg) translate3d(0, 0, 0);
	}
	25% {
		transform: rotateX(-40deg) translate3d(0, 0, 0);
	}
	50% {
		transform: rotateX(20deg) translate3d(0, 0, 0);
	}
	75% {
		transform: rotateX(-10deg) translate3d(0, 0, 0);
	}
	100% {
		transform: rotateX(0deg) translate3d(0, 0, 0);
	}
}
